body, h1, h2, h3, p, div, nav, ul, li {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: inherit;
  color: inherit;
  list-style: none;
}

h1 {
  display: flex;
  /*justify-content: center;*/
  width: 100%;
  /*background: #e6e6e6;*/
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  /*border-bottom: 1px solid #e6e6e6;*/
  height: 30px;
  padding-left: 10px;
  padding-top: 10px;
  color: #404040;
}

.first-section {
  display: flex;
  width: 100%;
}

div.chat-rooms {
  width: 150px;
  border-right: 1px solid black;
  height: 900px;
  background-color: #4f3a4c;
  color: #e3e3e3;
}

h3.room-list-header {
  margin-left: 10px;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

ul.rooms {
  margin-left: 10px;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

div.room-chat {
  width: 100%;
}

h2 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #e6e6e6;
   line-height: 6px;
   margin: 10px 0 20px;
}

h2 span {
    background: white;
    padding:0 5px;
    font-size: 16px;
    color:
}

ul.messages {
  margin-left: 10px;
}
