body, h1, h2, h3, p, div, nav, ul, li {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: inherit;
  color: inherit;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

h1 {
  display: flex;
  /*justify-content: center;*/
  width: 100%;
  /*background: #e6e6e6;*/
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  /*border-bottom: 1px solid #e6e6e6;*/
  height: 10vh
  min-height: 30px;

  padding-left: 10px;
  padding-top: 10px;
  color: #404040;
}

.first-section {
  display: flex;
  width: 100%;
}

div.chat-rooms {
  width: 150px;
  border-right: 1px solid black;
  height: 100vh;
  background-color: #4f3a4c;
  color: #e3e3e3;
}

h3.room-list-header {
  margin-left: 5px;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  /*font-weight: 700;*/
  font-size: 14px;
}

div.user {
  margin-left: 7px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

ul.rooms {
  margin-left: 7px;
  /*margin-top: 10px;*/
  font-family: 'Lato', sans-serif;
  /*font-weight: 700;*/
  font-size: 14px;
}

div.room-chat {
  width: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #e6e6e6;
   line-height: 6px;
   margin: 10px 0 20px;
}

h2 span {
    background: white;
    padding:0 5px;
    font-size: 16px;
    color:
}

ul.users {
  margin-left: 7px;
  /*margin-top: 10px;*/
  font-family: 'Lato', sans-serif;
  /*font-weight: 400;*/
  font-size: 14px;
}

div.message-box {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

ul.messages {
  padding-left: 10px;
  height: 85vh;
  border-bottom: 1px solid #e6e6e6;
  overflow-y: scroll;
  padding-bottom: 10px;
}

form {
  height: 5vh;
  padding: 10px 0 10px 10px;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
}

input.message-input {
  width: 95%;
  height: 19px;
  /*max-height: 90%;*/
  /*text-wrap: normal;*/
  outline: none;
  font-size: 15px;
  padding-top: 10px;
  /*margin-left: 10px;*/
  resize: none;
  border: 2px solid #bcbcbe;
  border-radius: 5px;
  word-break: break-word;
  padding: 5px 10px;
  color: #717274;
}

input.message-input::placeholder {
  color: #bcbcbe;
}



input.message-input:focus {
  border: 2px solid #717274;
  color: #717274;
}
